<%- include('../partials/header') -%>

<main class="admin-dashboard full-height">
  <section class="hero">
    <section class="titles">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>ÁREA DO CLIENTE</h1>
            <h2>Escolha abaixo qual informação deseja consultar ou editar.</h2>
          </div>
        </div>
      </div>
    </section>

    <%- include('../partials/admin/header-admin') -%>

  </section>

  <section class="admin-container admin-list-client">
    <form class="needs-validation" novalidate>
      <div class="container card">
        
        <div class="row">
          <div class="col-12 text-center mb-3">
            <h2>Lista de Clientes</h2>
            <p>Insira abaixo os dados do novo cliente.</p>
            <a href="/admin/adicionarCliente" class="btn btn-solid btn-blue1 my-3"><i class="far fa-save"></i> Novo Cliente</a>
            <a class="btn btn-solid btn-orange1 my-3" data-toggle="collapse" href="#filterResults" role="button" aria-expanded="false" aria-controls="filterResults"><i class="fas fa-filter"></i> Filtar Resultados</a>
          </div>
        </div>

        <div id="filterResults" class="row list-filters collapse">
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <input type="text" name="id" class="form-control" placeholder="ID">
            </div>
          </div>

          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <input type="text" name="name" class="form-control" placeholder="Nome">
            </div>
          </div>

          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="Email">
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Email</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <% clientes.forEach(cliente => { %>

                <tr>
                  
                  <th scope="row"><%= cliente.id %></th>
                  <td><%= cliente.usuario.nome %> </td>
                  <td><%= cliente.usuario.email %> </td>
                  <td class="table-actions">
                    <a href="/admin/editarCliente/<%= cliente.id %>" title="Editar"><i class="far fa-edit color-orange2"></i></a>
                    <a href="/admin/listarCliente/deletar/<%= cliente.id %>" title="Excluir"><i class="far fa-trash-alt color-orange1"></i></a>
                  </td>
                  <td>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="status1" checked>
                      <label class="custom-control-label" for="status1"></label>
                    </div>
                  </td>

                </tr>
                
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="container mb-3">
        <div class="row">
          <div class="col-sm-12">
            <nav class="pagination-container">
              <ul class="pagination">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Próxima</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

    </form>
  </section>
</main>

<%- include('../partials/footer') -%>

<%- include('../partials/admin/modalExcluir') -%>
