<%- include('../partials/header') -%>

<main class="admin-dashboard full-height">
  <section class="hero">
    <section class="titles">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>ÁREA DO CLIENTE</h1>
            <h2>Escolha abaixo qual informação deseja consultar ou editar.</h2>
          </div>
        </div>
      </div>
    </section>

    <%- include('../partials/admin/header-admin') -%>

  </section>

  <section class="admin-container admin-list-supplier">
      <div class="container card">
        
        <div class="row">
          <div class="col-12 text-center mb-3">
            <h2>Lista de Fornecedores</h2>
            <p>Insira abaixo os dados do novo forncedor.</p>
            <a href="/admin/adicionarFornecedor" class="btn btn-solid btn-blue1 my-3"><i class="far fa-save"></i> Novo Fornecedor</a>
            <a class="btn btn-solid btn-orange1 my-3" data-toggle="collapse" href="#filterResults" role="button" aria-expanded="false" aria-controls="filterResults"><i class="fas fa-filter"></i> Filtar Resultados</a>
          </div>
        </div>

        <form action="/admin/listarFornecedor/resultado" method="get">
          <div id="filterResults" class="row list-filters collapse">
            <div class="col-sm-12 col-md">
              <div class="form-group">
                <input type="text" name="id" class="form-control" placeholder="ID">
              </div>
            </div>

            <div class="col-sm-12 col-md">
              <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Nome">
              </div>
            </div>

            <div class="col-sm-12 col-md">
              <div class="form-group">
                <select name="choosePlan" class="form-control">
                  <option disabled selected>Plano</option>
                  <option value="Parafuso">Plano Parafuso</option>
                  <option value="Porca">Plano Porca</option>
                  <option value="Porca e Parafuso">Plano Porca e Parafuso</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12 col-md">
              <div class="form-group">
                <input type="date" name="date" class="form-control" placeholder="Data de Expiração">
              </div>
            </div>

            <div class="col-sm-12 col-md-auto">
              <div class="form-group">
                  <button type="search" class="btn btn-solid btn-blue1"><i class="fas fa-search"></i> Procurar</button>
              </div>
            </div>
          </div>
        </form>

        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Plano</th>
                  <th scope="col">Expiração</th>
                  <th scope="col">Ações</th>
                  <!-- <th scope="col">Status</th> -->
                </tr>
              </thead>
              <tbody>
                <% fornecedores.forEach(fornecedor => { %>
                <tr>
                  <th scope="row"><%= fornecedor.id %></th>
                  <td><%= fornecedor.usuario.nome %></td>
                  <td><%= fornecedor.plano_contratado.nome %></td>
                  <td><%= fornecedor.plano_contratado.data_fim %></td>
                  <td class="table-actions">
                    <a href="/admin/orcamentosFornecedor/<%= fornecedor.id %>" title="Orçamentos"><i class="far fa-file-alt color-blue1"></i></a>
                    <a href="/admin/editarFornecedor/<%= fornecedor.id %>" title="Editar"><i class="far fa-edit color-orange2"></i></a>
                    <form action="/admin/deletarFornecedor/<%= fornecedor.id %>?_method=DELETE" method="POST">
                      <a class="delete-button" title="Excluir"><i class="far fa-trash-alt color-orange1" role="button" data-toggle="modal" data-target="#removeModal"></i></a>
                      <%- include('../partials/admin/modalExcluir') -%>
                    </form>
                    <!-- <a href="#" data-toggle="modal" data-target="#removeModal" data-url="/admin/excluirFornecedor/<%= // fornecedor.id %>" class="delete-button" title="Excluir"><i class="far fa-trash-alt color-orange1"></i></a> -->
                  </td>
                  <!-- <td>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="<%= //fornecedor.id %>" checked>
                      <label class="custom-control-label" for="<%= //fornecedor.id %>"></label>
                    </div>
                  </td> -->
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="container mb-3">
        <div class="row">
          <div class="col-sm-12">
            <nav class="pagination-container">
              <ul class="pagination">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Próxima</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

  </section>
</main>

<%- include('../partials/footer') -%>