<%- include('partials/header') -%>
<main>
    <section class="hero full-height-hero">
        <section class="titles">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>CONHEÇA NOSSOS PARCEIROS</h1>
                        <h2>Essas são todas as empresas que irão receber o seu orçamento</h2>
                        <h2>A Porca e o Parafuso agradece a parceria de distintas empresas do <span>setor de usinagem</span>, seja tambem um parceiro.</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="partners-form">
            <form action="/parceiros/resultado" method="GET" novalidate>
                <div class="container card">

                    <div id="filterResults" class="row list-filters">
                        <div class="col-sm-12 col-md">
                            <div class="form-group">
                                <input type="search" class="form-control" placeholder="Nome" name="name" />
                            </div>
                        </div>

                        <div class="col-sm-12 col-md">
                            <div class="form-group">
                                <select id="disabledSelect" name="state" class="form-control">
                                    <option selected disabled>Estado</option>
                                    <option value="1">AC</option>
                                    <option value="2">AL</option>
                                    <option value="3">AP</option>
                                    <option value="4">AM</option>
                                    <option value="5">BA</option>
                                    <option value="6">CE</option>
                                    <option value="7">DF</option>
                                    <option value="8">ES</option>
                                    <option value="9">GO</option>
                                    <option value="10">MA</option>
                                    <option value="11">MT</option>
                                    <option value="12">MS</option>
                                    <option value="13">MG</option>
                                    <option value="14">PA</option>
                                    <option value="15">PB</option>
                                    <option value="16">PR</option>
                                    <option value="17">PE</option>
                                    <option value="18">PI</option>
                                    <option value="19">RJ</option>
                                    <option value="20">RN</option>
                                    <option value="21">RS</option>
                                    <option value="22">RO</option>
                                    <option value="23">RR</option>
                                    <option value="24">SC</option>
                                    <option value="SP">SP</option>
                                    <option value="26">SE</option>
                                    <option value="27">TO</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md">
                            <div class="form-group">
                                <select id="disabledSelect" name="city" class="form-control">
                                    <option selected disabled>Cidade</option>
                                    <option value="">Cidade 1</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-auto">
                            <div class="form-group">
                                <button type="search" class="btn btn-solid btn-blue1"><i class="fas fa-search"></i> Procurar</button>
                            </div>
                        </div>
                    </div>

                    <div class="partners-list">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Cidade</th>
                                    <th scope="col">Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% fornecedores.forEach(fornecedor => { %>
                                <tr>
                                    <th scope="row"><%= fornecedor.usuario.nome %></th>
                                    <td><%= fornecedor.endereco.cidade %></td>
                                    <td><%= fornecedor.endereco.estado %></td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </section>
    </section>
</main>
<%- include('partials/footer') -%>